body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:block;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url("./game_background.jpg");
}

.container {
    text-align: center;
}

.fade {
    opacity: 50;
    transition: opacity 1s ease-in-out;
}

.fade.active {
    opacity: 19;
}

.goToHome{
    /* padding: 10px 20px; */
    font-size: 1em;
    margin-bottom: 20px;
    cursor: pointer;

}
