body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}

main {
    display: flex;
    height: calc(100vh - 80px); /* Subtract header height from viewport height */
}

.main-container {
    display: flex;
    width: 100%;
}

.left-section {
    flex: 1;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.upper-right {
    flex: 1;
    background-color: #eee;
    padding: 20px;
}

.lower-right {
    flex: 1;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
