<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/game_website_css.css">
    <title>Flight Hero</title>
</head>
<body>
    <div class="container">
        <h1>Flight Hero</h1>
        <div class="buttons">
            <a href= "login.html" class="start-button">Login</a>
            <a href= "story.html" class="story-button">Story</a>
        </div>
    </div>
</body>
</html>
